.hr_div{
    background: #0e0a0a;
    color: #fff;
}
.bet_section{
    background-color: #0e0a0a;
    padding: 80px 0px;
    color: #fff;
    h3{
        font-weight: 700;
        font-size: 2.6rem;
        color: #ffffff;
        text-transform: uppercase;
        font-family: 'Ubuntu', sans-serif;
        text-shadow: 2px 2px 2px rgb(195 15 243 / 90%);
        line-height: 1.7;
        margin-bottom: 20px;
        text-align: center;
    }
    .bet_content{
       
        ol{
            margin-left: -14px;
            line-height: 1.6;
        }
    }
}

@media screen and (max-width:767px){
    .bet_section{
        padding: 25px 0px;
            h3{
                font-size: 1.8rem;
                line-height: 1.4;
            }
    }
}