.bonus_section{
    background-color: #0e0a0a;
    padding: 80px 0px 0px 0px;
    color: #fff;
    .bonus_content{
        padding: 30px 0px;
        h3{
            font-weight: 700;
            font-size: 2.6rem;
            color: #ffffff;
            text-transform: uppercase;
            font-family: 'Ubuntu', sans-serif;
            text-shadow: 2px 2px 2px rgb(195 15 243 / 90%);
            line-height: 1.7;
            margin-bottom: 20px;
        }
        ul{
            margin-left: -14px;
            line-height: 1.6;
        }
        h6{
            line-height: 1.6;
        }
        .play_btn {
            margin: 60px 0px;

            a {
                color: #fff;
                background: linear-gradient(to bottom, #9d1bed 0%, #570dc8 100%);
                text-shadow: -1px 4px 0px #9d1bed61;
                border: 3px;
                padding: 10px 100px;
                width: 100%;
                font-size: 22px;
                font-weight: 700;
                border-radius: 4px;
                text-transform: uppercase;
                text-decoration: none;
                position: relative;
                box-shadow: 0px 6px 0px 0px rgb(58 0 144);

                animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);

                &:hover {
                    background: linear-gradient(to bottom, #ff39dc 0%, #a60084 100%);
                    color: #fff;
                    // transition: 0.3s ease-in;
                    box-shadow: 0px 6px 0px 0px rgb(102 19 85);
                }

                @keyframes pulse {
                    to {
                        box-shadow: 0 0 0 17px rgba(232, 76, 61, 0);
                    }
                }

                @media screen and (max-width:767px) {
                    max-width: 80%;
                }
            }
        }
    }
}

@media screen and (max-width:767px){
    .bonus_section{
        padding: 30px 0px 0px 0px;
        .bonus_content{
            padding: 25px 0px;
            h3{
                font-size: 1.8rem;
                line-height: 1.4;
            }
            .play_btn {
                display: flex;
                justify-content: center;
                a {
                    // padding: 10px 61px;
                    padding: 8px 35px;
                    text-align: center;
                }
            }
        }
    }
}


@media (min-width:1024px) and (max-width:1200px){
    .bonus_section{
        .bonus_content {
            // padding: 45px 0px;
        }
        .bonus_img{
            img{
                margin-top: 65px;
            }
        }
    }
}