.intro_section{
    background-color: #0b1419;
    padding: 80px 0px;
    color: #fff;
    width: 100%;
    .intro_content{
        
    margin-top: 70px;

        h3{
            font-weight: 700;
            font-size: 2.6rem;
            color: #ffffff;
            text-transform: uppercase;
            font-family: 'Ubuntu', sans-serif;
            text-shadow: 2px 2px 2px rgb(195 15 243 / 90%);
            line-height: 1.7;
            margin-bottom: 20px;
        }
    }
    .intro_img{
        img{
           width: 450px;
        }
    }
}

@media screen and (max-width:767px){
    .intro_section{
        padding: 0px 0px;
        .intro_content{
            h3{
                font-size: 1.8rem;
            }
        }
    }
}
