.sports_type_section {
    background-color: #282727;
    padding: 80px 0px;
    color: #fff;

    h3 {
        font-weight: 700;
        font-size: 2.6rem;
        color: #ffffff;
        text-transform: uppercase;
        font-family: 'Ubuntu', sans-serif;
        text-shadow: 2px 2px 2px rgb(195 15 243 / 90%);
        line-height: 1.7;
        margin-bottom: 20px;
        text-align: center;
    }

    .sports_type_content {
        padding: 80px 0px;
    }

}

.sports_betting_section {
    background-color: #282727;
    padding: 80px 0px;
    color: #fff;

    h3 {
        font-weight: 700;
        font-size: 2.6rem;
        color: #ffffff;
        text-transform: uppercase;
        font-family: 'Ubuntu', sans-serif;
        text-shadow: 2px 2px 2px rgb(195 15 243 / 90%);
        line-height: 1.7;
        margin-bottom: 20px;
        text-align: center;
    }

}

@media (min-width: 992px) and (max-width:1200px) {
    .sports_type_section {
        .sports_type_img {
            img {
                width: 485px;
                display: block;
                margin: 50px 0px;
            }
        }
    }
  }


  @media screen and (max-width:767px){
    .sports_type_section{
        padding: 25px 0px;
            h3{
                font-size: 1.8rem;
                line-height: 1.4;
            }
            .sports_type_content {
                padding: 30px 0px;
            }
    }
    .sports_betting_section{
        padding: 25px 0px;
            h3{
                font-size: 1.8rem;
                line-height: 1.4;
            }
           
    }
}